Redirecting to IdentityServer...
<ngx-spinner></ngx-spinner>
<!-- SIGN IN -->
<!-- <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5> -->
            <!-- formGroup используется для привязки объекта myForm к элементу формы
                formControlName связывает объект formControl с элементом ввода
                ngClass применяет css класс, когда выполнеяется условия после ':' -->
            <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"  class="form-signin">
              <div class="form-label-group">
                <label for="inputEmail">Email</label>
                <input formControlName="email" type="text" id="inputEmail" class="form-control" placeholder="Email" required autofocus [ngClass]="{'is-invalid': submitted && loginFormControls.email.errors}">
              </div>
              <br/>
              <div class="form-label-group">
                <label for="inputPassword">Password</label>
                <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required [ngClass]="{'is-invalid': submitted && loginFormControls.password.errors}">
              </div> -->
              <!-- <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div> -->
              <!-- <br /> -->
              <!-- <input type="submit" [disabled]="loading" class="btn btn-warning" title="SIGN IN" /> -->
              <!-- <button [disabled]="loading" class="btn btn-warning" type="submit">SIGN IN</button> -->
              <!-- <button [disabled]="loading" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button> -->
              <!-- <hr class="my-4">
              <label for="createAcaunt">Don't you have an account?</label>
              <a class="col-sm" href="register?returnUrl={{ returnUrl }}">Create an account</a>
            </form>
            <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
          </div>
        </div>
      </div>
    </div>
  </div> -->